<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.river.mapper.TRiverBankMapper">
  <resultMap id="BaseResultMap" type="com.yl.river.model.TRiverBank">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yl.river.model.TRiverBank">
    <result column="LONLATS" jdbcType="CLOB" property="lonlats" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, TYPE
  </sql>
  <sql id="Blob_Column_List">
    LONLATS
  </sql>
  <insert id="insertSelective" parameterType="com.yl.river.model.TRiverBank">
    insert into PROFJSHZZ.T_RIVER_BANK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="lonlats != null">
        LONLATS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="lonlats != null">
        #{lonlats,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yl.river.model.TRiverBank">
    update PROFJSHZZ.T_RIVER_BANK
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="lonlats != null">
        LONLATS = #{lonlats,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>